body {
    width: 100%;
    height: 100%;
    font-family: "Cinzel", "Bitter", "EB Garamond";
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
}

.logo-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logo {
    width: 10%;

}

#title {
    margin-left: 10px;
    font-size: 5em;
    color: #E37727;
    font-family: "Cinzel", "Bitter", "EB Garamond";
}

nav {
    background-color: black;
    color: white;
    border-radius: 0 0 50px 50px;

}

nav,
ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: center;
}

nav ul li {
    display: inline;
    padding: 10px;
    align-items: center;
}



a {

    color: #E37727;
    font-size: 2rem;
    font-family: "Cinzel", "Bitter", "EB Garamond";
    font-weight: bold;
}

h1,
p {
    margin: 0 0 0 0px;
    font-size: 1.8em;
    color: white;
}

#Title-Alta {
    background-color: #314652;
    color: rgb(243, 215, 6);
    padding: 20px;
    width: 50%;
    border: 3px solid black;
    font-family: "Cinzel", "Bitter", "EB Garamond";
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;

}

#Title-Contacto {
    background-color: #314652;
    color: rgb(243, 215, 6);
    padding: 20px;
    width: 50%;
    border: 3px solid black;
    font-family: "Cinzel", "Bitter", "EB Garamond";
    font-weight: bold;
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#Title-Contacto h1,
#Title-Contacto P {
    color: rgb(243, 215, 6);

}

#Title-Contacto P {
    margin-left: 45px;
}


.p-nosotros {
    font-size: .8em;
}

/* Botones */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-comprar {
    font-size: 1.5rem;
    font-family: "Cinzel", "Bitter", "EB Garamond";
}

.btn:hover {
    background-color: #0056b3;
}

/* Formularios */
form {
    width: 80%;
    background-color: #314652;
    color: rgb(243, 215, 6);
    padding: 20px;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#product-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

#contact-form {
    width: 50%;
    background-color: #314652;
    color: rgb(243, 215, 6);
    padding: 20px;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

input {
    margin: 0 0 30px 0;

}

input[type="text"],
input[type="email"],
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
}

input[type="checkbox"] {
    transform: scale(1.5);
    width: 30%;
}

input[type="number"] {
    width: 40%;
    height: 30px;
}


textarea {
    height: 150px;
}

button[type="submit"] {
    background-color: #E37727;

    height: 50px;
    font-size: 1.3rem;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #E37727;
    transition: all 300ms ease;
    transform: translateY(-5px);
    transform: scale(1.1);
}

/* Estilos para Cards */
.card {
    width: 100%;
    height: 450px;
    margin: 0 2% 0 2%;
    padding: 2%;
    background-color: #314652;
    border-style: solid;
    border-width: .4vw;
    border-color: black;
    border-radius: 10%;
    box-shadow: .1vw .1vw .5vw .4vw rgba(0, 0, 0, .5);
    text-align: center;
    justify-content: center;
    color: white;
}

.card img {
    width: 100%;
}

.btn-comprar {
    width: 70%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #333;
    color: white;
    border-radius: 20px;
}

.card-group {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-group a:hover {
    transform: scale(1);
}

.card:hover {
    transform: translateY(-5px);
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card p {
    font-size: 1.5rem;
    font-weight: bold;
}

.more-info {
    display: none;
}

.card img {
    background-color: #E37727;
    border-radius: 10px;
}

/* Nosotros */
.p-nosotros p,
.p-nosotros h1 {
    background-color: #314652;
    color: rgb(243, 215, 6);
    padding: 20px;
    width: 50%;
    border: 3px solid black;
    font-family: "Cinzel", "Bitter", "EB Garamond";
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 25% 20px 25%;

}

/* Footer */
footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    bottom: 0;
    text-align: center;
    justify-content: space-around;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;


}

.footer-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

iframe {
    width: 30%;
    height: 300px;
}

.fixed-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn-wsp {
    position: fixed;

    line-height: 60px;
    bottom: 6%;
    right: 2%;

    color: #71CF71;

    text-align: center;
    font-size: 5em;


}

.btn-wsp:hover {
    transition: all 300ms ease;
    transform: translateY(-5px);
    transform: scale(1.1);
}

@media (max-width:1200px) {
    .card {
        height: 500px;
        margin: 10px;
        padding: 10px;
        flex-wrap: wrap;
    }

    .card button {
        margin-top: 10px;
        font-size: 1em;
    }
    .card img {
        margin-top:10px;
        width: 100%;
    }
}

@media (max-width: 900px) {

    .card-group {
        flex-direction: column;
        width: 60%;
        margin: auto;


    }

    .card {
        margin: 35px;
        height: 500px;
    }
    .card img {
        margin-top: 20px;
        width: 98%;
    }

    .btn-wsp {
        width: 10%;

    }

    .logo-title {
        font-size: .7em;
    }

    a {
        font-size: 1.5rem;
    }
}

@media (max-width: 680px) {
    body {
        background-image: url(../img/Fondo2.jpg);
    }

    .Logo {
        width: 20%;
    }

    .logo-title {
        font-size: .8em;
    }

    a {
        font-size: 1rem;
    }

    .btn-wsp {
        right: 6%;

    }

    .card {
        width: 130%;
        height: 500px;
    }
    .card img {
        margin-top: 20px;
        width: 98%;
    }

    #product-form {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .alta-button {
        height: 60px;
    }

    .p-nosotros {
        width: 100%;

    }

}

@media (max-width: 450px) {
    body {
        background-image: url(../img/Fondo2.jpg);
        background-size: cover;
    }

    header,
    nav {
        border-radius: 0;
    }

    body {
        width: 100%
    }

    .Logo {
        width: 30%;
        margin-left: 5%;
    }

    .logo-title {
        font-size: .65em;
        flex-direction: column;
        font-size: .45em;
        

    }

    .card button {
        margin-top: 10px;
        font-size: 1em;
    }

    nav ul {
        padding: 0;
    }

    nav a {
        padding: 5px;
    }

    .card {
        width: 130%;
    }
    .card img {
        margin-top: 20px;
        width: 98%;
    }

    iframe {
        display: none;

    }

    a {
        font-size: 1rem;
    }

    .btn-wsp {
        right: 10%;

    }

    #Title-Alta {
        width: 80%;
    }

    #contact-form,
    #Title-Contacto {
        width: 80%;
    }

    #product-form {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .alta-button {
        height: 60px;
    }

    .p-nosotros {
        width: 100%;

    }

    .p-nosotros p,
    .p-nosotros h1 {
        width: 80%;
        margin: 10px 5% 10px 5%;
    }

    nav ul li {
        display: inline;
        padding: 2px;
        align-items: center;
    }

}