body {
    width: 100%;
    height: 100%;
    font-family: "Cinzel", "Bitter", "EB Garamond";
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    width: 100%;
    display: flex;
    align-items: center;
}

.Logo {
    width: 10%;

}

#title {
    margin-left: 10px;
    font-size: 5em;
    color: #E37727;
    font-family: "Cinzel", "Bitter", "EB Garamond";
}

nav {
    background-color: black;
    color: white;
}

nav,
ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
   
    justify-content: center;
}

nav ul li {
    display: inline;
    padding: 10px;
    align-items: center;
}



a {
    color: #E37727;
    font-size: 2rem;
    font-family: "Cinzel", "Bitter", "EB Garamond";
    font-weight: bold;
}




h1,
p {
    margin: 0 0 0 0px;
    font-size: 1.8em;
    color: white;
}
#Title-Alta  {
    background-color: #314652;
    color: rgb(243, 215, 6);
    padding: 20px;
    width: 30%;
    border: 3px solid black;
    font-family: "Cinzel", "Bitter", "EB Garamond";
    font-weight: bold;
    
}
#Title-Contacto {
    background-color: #314652;
    color: rgb(243, 215, 6);
    padding: 20px;
    width: 45%;
    border: 3px solid black;
    font-family: "Cinzel", "Bitter", "EB Garamond";
    font-weight: bold;
    
}
 
.p-nosotros {
    font-size: .8em;
}

/* Botones */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-comprar {
    font-size: 1.5rem;
    font-family: "Cinzel", "Bitter", "EB Garamond";
}

.btn:hover {
    background-color: #0056b3;
}

/* Formularios */
form {
    width: 30%;
    background-color: #314652;
    color: rgb(243, 215, 6);
    padding: 20px;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#product-form {
    margin: 0px 0 30px 0;
    
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
}
input {
    margin: 0 0 30px 0;
   
}
input[type="text"],
input[type="email"],
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
}

input[type="checkbox"] {
    transform: scale(1.5);
    width: 30%;
}

input[type="number"] {
    width: 15%;
    height: 30px;
}


textarea {
    height: 150px;
}

button[type="submit"] {
    background-color: #E37727;
    width: 50%;
    height: 50px;
    font-size: 1.3rem;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #E37727;
    transition: all 300ms ease;
    transform: translateY(-5px);
    transform: scale(1.1);
}

/* Estilos para Cards */
.card {
    width: 100%;
    height: 500px;
    margin: 0 2% 0 2%;
    padding: 2%;
    background-color: #314652;
    border-style: solid;
    border-width: .4vw;
    border-color: black;
    border-radius: 10%;
    box-shadow: .1vw .1vw .5vw .4vw rgba(0, 0, 0, .5);
    text-align: center;
    justify-content: center;
    color: white;
}

.card img {
    width: 100%;
}

.btn-comprar {
    width: 50%;
    margin-top: 30px;
}

.card-group {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-group a:hover {
    transform: scale(1);
}

.card:hover {
    transform: translateY(-5px);
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card p {
    font-size: 1.2rem;
    font-weight: bold;
}

.more-info {
    display: none;
}

.card img {
    background-color: #E37727;
    border-radius: 30px;
}
/* Footer */
footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    bottom: 0;
    text-align: center;
    justify-content: space-around;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;


}

.footer-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

iframe {
    width: 30%;
    height: 300px;
}

.fixed-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn-wsp {
    position: fixed;
    
    line-height: 60px;
    bottom: 6%;
    right: 2%;
    
    color: #71CF71;
    
    text-align: center;
    font-size: 5em;
    

}

.btn-wsp:hover {
    transition: all 300ms ease;
    transform: translateY(-5px);
    transform: scale(1.1);
}

@media (max-width: 780px) {

    .card-group {
        flex-direction: column;
        width: 70%;
        margin:auto;
        

    }
    .card {
        margin: 50px;
    }
    .btn-wsp {
        width: 10%;
    
    }
}